@import url("https://fonts.googleapis.com/css2?family=Fruktur&family=Zen+Kaku+Gothic+Antique:wght@400;700&display=swap");

* {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}

.app-main {
  height: 100vh;
}

.makeup-main {
  padding: 20px;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.card-main {
  width: 100%;
  height: 100%;
  background-color: #f8b3ca;
  border-radius: 20px;
  padding: 20px;
}

.colors-category {
  display: flex;
}

.color-name {
  margin: 15px 10px 10px 10px;
  color: black;
}

.product-img {
  border-radius: 30%;
  margin-top: 20px;
}

.product-name {
  font-size: 25px;
  font-weight: 700;
}

.product-category {
  text-transform: capitalize;
  font-weight: 600;
}
